/*general formatting for entire site*/

body {
  font-family: 'Comfortaa', cursive;
  background-color: rgba(119, 249, 245, .7);
}

/*general formatting for the header*/
header {
  position: fixed;
    top: 0;
    width: 100vw;
    opacity: 1;
    margin: 1em;
}

nav {
  display: grid;
  grid-template columns: 7em repeat(3, 1em);
  max-height: 50px
}

nav h3 {
  display: inline;
  grid-column: 1 / 2;
  margin: 1em;
  max-width: 200px;
  margin: 0;
  line-height: 1em;
  max-height: 20px
}

nav h4 {
  display: inline;
  max-width: 300px;
  margin: 0;
}

nav h4:first-of-type {
  grid-column: 2 / 3;
}

nav h4:nth-of-type(2) {
  grid-column: 3 / 4;
}

nav h4:last-of-type {
  grid-column: 4 / 5;
}

/*general formatting for the main section*/
main {
  margin-top: 100px;
}
